<h1>Edit Product</h1>

<form action="/products/<%=@product.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <p><label>Product Name:</label></p>
        <p><input type="text" name="product[product_name]" value="<%=@product.product_name%>"></p>
    <p><label>Active Ingredient:</label></p>
        <p><input type="text" name="product[active_ingredient]" value="<%=@product.active_ingredient%>"></p>
    <p><label>Effective Against:</label></p>
    <% Bug.all.each do |bug| %>
        <p><input type="checkbox" <%= 'checked' if @product.bugs.include?(bug) %> name="bugs[]" value="<%= bug.id %>"><%= bug.id %></p>
    <% end %>
    <p><label>Create New Bug:</label></p>
        <p><input type="text" name="bug[bug_name]"></p>
    <p><label>Description:</label></p>
        <p><input type="text" name="product[description]" value="<%=@product.description%>"></p>
    <p><input type="submit" value="Save Edits"></p>
</form>